.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  .cart-item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .cart-item-image {
      width: 100px;
      height: 100px;
      margin-right: 1rem;
      border-radius: 4px;
    }

    .cart-item-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 200px;

      span {
        margin: 0 0.5rem;
        font-size: 1.2rem;
      }
    }
  }

  .remove-item-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #c82333;
    }
  }
}
